h2 {
    font-size: 25px;
    text-align: center;
}
p {
    font-size: 7mm;
    text-align: center;
}
td {
    font-size: 5mm;
    text-align: center;
    align-content: center;
    border: 0.2mm solid black;
    padding: 10px;
    background-color: rgba(204, 31, 71, 0.76);
    color:#fff;
}
table
{
    margin: 10px auto;
}
input[type=submit] {
    font-size: 18px;
    margin-left: 15px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 0.2mm solid black;
    background-color: #6f06f1;
    color:#fff;
}
output {
    font-size: 18px;
    margin-left: 15px;
    border: 1px solid black;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 15px;
    background-color: #198cb6;
    color:#fff;
}

select {
    margin-right: 15px;
}

form {
    text-align: center;
}